<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Recipes</h1>
                </div>
                <div class="panel-body">
    <div th:each="recipe : ${recipes}">
        <hr>
        <h2 th:text="${recipe.description}"></h2>
        <p>
            Categories:
<!--            How make this without SPAM SPAM?-->
            <span th:each="category : ${recipe.categories}">
                <span th:text="${category.description}"></span>
            </span>
        </p>
        <p>
            Difficulty: <span th:text="${recipe.difficulty}"></span>
        </p>
        <h3>Ingredients</h3>
        <ul>
            <li th:each="ingredient : ${recipe.ingredients}">
<!--                How get this without SPAM SPAM SPAM?-->
                <span th:text="${ingredient.amount}"></span>
                <span th:text="${ingredient.unitOfMeasure.description}"></span>
                <span th:text="${ingredient.description}"></span>
            </li>
        </ul>
        <h3>Directions</h3>
        <p th:text="${recipe.directions}"></p>
        <p>
            Notes: <span th:text="${recipe.notes.content}"></span>
        </p>
    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
