<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>
    <!--<style>
        table, th, td {
            border: 1px solid black;
        }
    </style>-->

</head>
<body>
<div th:each="recipe : ${recipes}">
    <table>
        <tr>
            <td>Recipe name</td>
            <td th:text="${recipe.getDescription()}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td style="font-weight: bold">TODO display image</td>
        </tr>
        <tr>
            <td>Prep time</td>
            <td th:text="${recipe.getPrepTime()}"></td>
        </tr>
        <tr>
            <td>Cook time</td>
            <td th:text="${recipe.getCookTime()}"></td>
        </tr>
        <tr>
            <td>Servings</td>
            <td th:text="${recipe.getServings()}"></td>
        </tr>
        <tr>
            <td>Source</td>
            <td th:text="${recipe.getSource()}"></td>
        </tr>
        <tr>
            <td>Url</td>
            <td th:text="${recipe.getUrl()}"></td>
        </tr>
        <tr>
            <td>Directions</td>
            <td th:text="${recipe.getDirections()}"></td>
        </tr>
        <tr>
            <td>Ingredients</td>
            <td>
                <div th:each="ingredient : ${recipe.getIngredients()}">
                    <div th:text="|${ingredient.getAmount()} ${ingredient.getUom()?.getDescription()} ${ingredient.getDescription()}|"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Difficulty</td>
            <td th:text="${recipe.getDifficulty()}"></td>
        </tr>
        <tr>
            <td>Notes</td>
            <td th:text="${recipe.getNotes()}"></td>
        </tr>
        <tr>
            <td>Categories</td>
            <td>
                <div th:each="category : ${recipe.getCategories()}">
                    <div th:text="${category.getCategoryName()}"></div>
                </div>
            </td>
        </tr>
    </table>

</div>
</body>
</html>
