<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Preparation time</th>
        <th>Directions</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">1</td>
        <td th:text="${recipe.description}">Description</td>
        <td th:text="${recipe.prepTime}">120</td>
        <td th:text="${recipe.directions}">directions</td>
    </tr>
</table>
</body>
</html>